<div class="container ">
    <div class="row">
        <div class="col-3 filter-buttons">
            <div class="form-group searchByName">
                <label for="name">Search By Name </label>
                <input type="text" class="form-control" #name (blur)="findByName(name.value)"
                    placeholder="Enter the Employee Name">
            </div>
        </div>
        <div class="col-3 filter-center">
            <div class="dropdown">
                Sort By<br>
                <button type="button" class="btn btn-primary dropdown-toggle sorting-button" data-toggle="dropdown">
                    Select The Category
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" value="Name" #sortByName (click)="sorting('name')">Name</a>
                    <a class="dropdown-item" value="Date" #sortByDate (click)="sorting('date')">Joining Date</a>
                </div>
            </div>
        </div>
        <div class="col-3 filter-center">
            <div class="form-group searchByName">
                <label for="name">More than 2 years of Experience </label><br>
                <button class="btn btn-danger  px-5" (click)="showExp2Y()">Click</button>
            </div>

        </div>
    </div>

    <div *ngIf='showMainTable' class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Joining Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of temp">
                    <ng-container *ngIf='employee'>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.joining_date }}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf='!showMainTable' class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dep of finalDepart">
                    <ng-container>
                        <td>{{ dep.department }}</td>
                        <td>{{ dep.count }}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-4">
            <button class="btn btn-dark ml-3" (click)='showDepartment()'> Show Department / Main table</button>
        </div>
        <div class="col-4">
            <button class="btn btn-danger " (click)="deleteDepartment('Development')">Remove Developement </button>
        </div>
        <div class="col-4">
            <button class="btn btn-info" (click)="reset()">Reset </button>
        </div>
    </div>


</div>